.container {
  padding: 20px;
}

.container2 {
  background-color: rgb(249, 244, 230);
  border-radius: 15px;
  padding: 10px;
}


.text {
  color: rgb(73,68,68);
  margin: 10px;
}

.strawberryCake {
  height: 60px;
  width: auto;
}

.toptop {
  display: flex;
  align-items: center;
}

.highlight {
  margin-top: auto;
  margin-bottom: auto;
}

.pronounce {
  margin-top: -8px;
}